@import "../../../assets/scss/theme.scss";
.user-detail {
  .left-card {
    .user-name {
      line-height: 100%;
    }
    .card-footer {
      padding: 0;
      .tabs-buttons {
        padding-left: 0;
        margin: 0;
        li {
          list-style: none;
          padding: 1rem 1.5rem;
          border-top: 1px solid $gray-2;
          background-color: #ffffff;
          cursor: pointer;
          transition: all 0.3s;
          i {
            margin-right: 1rem;
          }
          svg {
            margin-right: 1rem;
          }
          &:last-child {
            border-radius: 0  0 0.25rem 0.25rem;
          }
          &:hover, &.selected {
            background-color: $teal;
            color: #ffffff;
            svg {
              fill: #ffffff;
            }
          }
        }
      }
    }
  }
  .action-buttons {
    & > * {
      margin-right: 1rem;
      margin-bottom: 1.5rem;
    }
  }
  .payment-form{
    .rfc-label{
      position: relative;
      i {
        position: absolute;
        bottom: -0.25rem;
        right: -1.5rem;
        cursor: pointer;
      }
    }
  }
  .payment-card {
    background-color: $gray-3;
    padding: 1rem;
    display: flex;
    align-items: center;
    svg {
      margin-right: 1rem;
    }
    p{
      line-height: 100%;
      font-size: 1rem;
      font-weight: $fw-medium;
      margin-bottom: 0;
      &:first-child {
        margin-bottom: 0.5rem;
      }
    }
  }

  .last-invoices {
    padding: 0;
    li {
      list-style: none;
      color: $gray-1;
      padding: 1.5rem 0;
      border-bottom: 1px solid $gray-3;
      display: flex;
      justify-content: space-between;
      .invoice-qty {
        width: 6rem;
      }
      .invoice-concept {
        flex: 1;
      }
      .invoice-date {
        width: 12rem;
      }
      .invoice-actions {
        i {
          cursor: pointer;
        }
      }
    }
  }
  .all-invoices {
    text-align: center;
    text-decoration: underline;
    color: $gray-1;
    font-size: 1rem;
  }
}